.room-index {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: calc(100vh - 80px);    
    background-color: $tchat-bg;
    color: $text-color;

    h2 {
        padding: 1em;
        font-size: 2em;
    }


}